# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

|Data Science Tools|
|-------------------|
|Jupyter Notebook |
|RStudio |
|Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [16]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [20]:
#  This will convert 200 minutes to hours by diving by 60

hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Explore open-source development tools for Data Science  
- Perform basic arithmetic operations in Python  
- Convert time units using Python expressions

## **Author** 
##  [Aly Abdulaaty]